@tailwind base;
@tailwind components;
@tailwind utilities;

.CodeMirror {
	width: 100% !important;
	font-size: larger;
}

.react-codemirror2 {
	width: 100% !important;
	font-size: larger;
}

.CodeMirror-gutters {
	border: none !important;
	padding-right: 0.2rem;
}
